@import url("https://fonts.google.com/specimen/Manrope");
// primary
$lcyan: hsl(193, 38%, 86%);
$ngreen: hsl(150, 100%, 66%);
// neutral
$gblue: hsl(217, 19%, 38%);
$dgblue: hsl(217, 19%, 24%);
$dblue: hsl(218, 23%, 16%);
// bodycopy
$fontsize: 28px;
// font
$font: "Manrope", sans-serif;